<ul>
    <li *ngFor="let item of items; let i = index">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <img src="../../assets/assets1.png" alt="Girl in a jacket" style="width:300px;height:350px;"><br>
            <button class="Button1"><img src="../../assets/Untitled1.png" alt="Like Button" style="width:20px;height:20px;"> <label>Like</label></button>
        <button class="Button1"><img src="../../assets/comment.png" alt="Like Button" style="width:20px;height:20px;"><label>Comment</label> </button>
        <button class="Button1"><img src="../../assets/share.png" alt="Like Button" style="width:20px;height:20px;"><label>Share</label> </button>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <img src="../../assets/assets1.png" alt="Girl in a jacket" style="width:300px;height:350px;"> <br>
        <button class="Button1"><img src="../../assets/Untitled1.png" alt="Like Button" style="width:20px;height:20px;"> <label>Like</label></button>
        <button class="Button1"><img src="../../assets/comment.png" alt="Like Button" style="width:20px;height:20px;"><label>Comment</label> </button>
        <button class="Button1"><img src="../../assets/share.png" alt="Like Button" style="width:20px;height:20px;"><label>Share</label> </button>
    </li>
</ul>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <img src="../../assets/assets1.png" alt="Girl in a jacket" style="width:300px;height:350px;"><br>
      <button class="Button1"><img src="../../assets/Untitled1.png" alt="Like Button" style="width:20px;height:20px;"> <label>Like</label></button>
<button class="Button1"><img src="../../assets/comment.png" alt="Like Button" style="width:20px;height:20px;"><label>Comment</label> </button>
<button class="Button1"><img src="../../assets/share.png" alt="Like Button" style="width:20px;height:20px;"><label>Share</label> </button>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
