
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pixogram</a>
    </div>
    
    <a class="text-secondary"  href="#" routerLink="/Imageupload"><span class="glyphicon glyphicon-user"></span> Image Upload</a>
      <a class="text-secondary"  href="#" routerLink="/mymedia"><span class="glyphicon glyphicon-user"></span> My media</a>
      <a class="text-secondary" href="#" routerLink="/follow"><span class="glyphicon glyphicon-log-in"></span> Followers</a>
      <a class="text-secondary"  href="#" routerLink="/home"><span class="glyphicon glyphicon-user"></span> Logout</a>
  </div>
</nav>
  
<div class="container">
  
</div>

</body>
</html>


